<!DOCTYPE html>
 
<html>
  <title>404</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src='/js/script.js'></script>
<head>

</head>
<body>
  <div class="main-content">
      {{>header}}
       <p>{{errMessage}}</p>
  </div>
  {{>footer}}
</body>
</html>