<!DOCTYPE html>
 
<html>

<head>
  <title>about</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="main-content">
      {{>header}}
      <img src='/img/image.jpg' class ='potrait other'>
  </div>
  {{>footer}}
</body>
</html>