<!DOCTYPE html>
 
<html>
  <title>weather</title>
  <link rel="stylesheet" href="/css/style.css">
<head>

</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>Get the weather here.</p>
    <form>
      <input type="text" placeholder="Search weather">
      <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
  </div>
  {{>footer}}
  <script src='/js/script.js'></script>
</body>
</html>